{% extends "main.html" %}
{% load humanize %}
{% block content %}
<div class="container-fluid">
    <h2 class="text-center my-3">{{ judul }}</h2>
    <div class="row my-5">
        <div class="col-md">
            <div class="card card-body">
                <h5>Products</h5>
            </div>
            <div class="card card-body">
                <table class="table">
                    {% for dataproduct in product %}
                    <tr>
                        <td>{{ dataproduct.name }}</td>
                        <td>{{ dataproduct.category }}</td>
                        <td>Rp. {{ dataproduct.price|intcomma}}</td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}